- if products.any?
  %ul#products.inline.product-listing{"data-hook" => ""}
    - products.each do |product|
      - url = spree.product_path(product, :taxon_id => @taxon.try(:id))
      %li{:class => "columns three #{cycle("alpha", "secondary", "", "omega secondary", :name => "classes")}", "data-hook" => "products_list_item", :id => "product_#{product.id}", :itemscope => "", :itemtype => "http://schema.org/Product"}
        //- cache(@taxon.present? ? [I18n.locale, current_currency, @taxon, product] : [I18n.locale, current_currency, product]) do
        .product-image
          = link_to small_image(product, :itemprop => "image"), url, :itemprop => 'url'
        = link_to truncate(product.name, :length => 50), url, :class => 'info', :itemprop => "name", :title => product.name
        %span{:itemprop => "offers", :itemscope => "", :itemtype => "http://schema.org/Offer"}
          %span.price.selling{:itemprop => "price"}= display_price(product)

    - reset_cycle("classes")
    